@font-face{
  font-family: "Terecia";
  src: url("assets/font/terecia/Terecia.ttf") format("truetype");
}

* {
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: Arial;


}


.content {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  font-family: 'Terecia';
  display: flex;
  align-items: flex-start;
  justify-content: space-between;


}
.content h1{
  padding-left: .55em;
  font-size: 5em;
  



}

.branding{

  padding-top: 1.125em;
  padding-right: .95em;
  font-size: 2.25em;

}

a {

  text-decoration: none !important;
  color: #f1f1f1 !important;

}
.fa{
  padding-left: 5px;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  background: url('assets/ezgif.com-video-to-gif.gif');
  background-size:cover;


  min-width: 100%; 
  min-height: 100%;
  z-index: -1;

}


@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) 
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio : 2)
    {
      .content h1{
        font-size: 5em;
        padding-top: 10px;
      }

      .branding
      {
        font-size: 3.5em;
        padding-top: 55px;

      }



    }
